:root {
  --calculator-number-bg-color: #234361;
  --calculator-operator-bg-color: var(--ahnn-warning);

  --inline-gap: 10px;
  --gap: 20px;
  --radius: 5px;

  --tabbar-height: 50px;

  --ahnn-form-height: 40px;
}
