:root {
  --ahnn-space-small: 32px;
  --ahnn-space-medium: 40px;
  --ahnn-space-large: 48px;

  --ahnn-form-large-font: 1rem;
  --ahnn-form-large-line-height: 1.5rem;
  --ahnn-form-large-height: var(--ahnn-space-large);
  --ahnn-form-small-font: 0.875rem;
  --ahnn-form-small-line-height: 0.875rem;
  --ahnn-form-small-height: var(--ahnn-space-small);
  --ahnn-form-font: 0.875rem;
  --ahnn-form-line-height: 1.25rem;
  --ahnn-form-height: var(--ahnn-space-medium);

  --calculator-number-bg-color: #234361;
  --calculator-operator-bg-color: var(--ahnn-warning);

  --app-gap: 0 10px;
  --inline-gap: 10px;
  --gap: 20px;
  --radius: 5px;

  --tabbar-height: 50px;
  --home-select-month-height: var(--ahnn-form-height);

  --app-padding-bottom: calc(
    var(--tabbar-height) + var(--home-select-month-height) + var(--gap) +
      env(safe-area-inset-bottom)
  );
}
