:root {
  --bg-color: #fafafa;

  --border-color-muted: #edf0f2;
  --border-color-default: #e4e7eb;

  --text-color-muted: #66788a;
  --text-color-default: #425a70;
  --text-color-dark: #234361;
  --text-color-selected: #1070ca;
  --text-color-success: #00783e;
  --text-color-info: #084b8a;
  --text-color-danger: #bf0e08;
  --text-color-warning: #95591e;

  --intent-color-none: #1070ca;
  --intent-color-success: #47b881;
  --intent-color-danger: #ec4c47;
  --intent-color-warning: #d9822b;

  --button-border-color: rgba(67, 90, 111, 0.3);
  --button-default-bg-color: #fff;
  --button-default-hover-color: #fafbfb;
  --button-default-active-color: rgba(16, 112, 202, 0.09);
  --button-primary-bg-color: #0788de;
  --button-primary-hover-color: #0679c5;
  --button-primary-active-color: #0f5da1;
  --button-success-bg-color: #23c277;
  --button-success-hover-color: #1fac6a;
  --button-success-active-color: #328a5f;
  --button-warning-bg-color: #ee9913;
  --button-warning-hover-color: #d88a10;
  --button-warning-active-color: #c77524;
  --button-danger-bg-color: #ec4c47;
  --button-danger-hover-color: #ea3530;
  --button-danger-active-color: #d0322d;

  --active-bg-color: #1070ca17;

  --calculator-number-bg-color: #234361;
  --calculator-operator-bg-color: var(--button-warning-bg-color);

  --inline-gap: 10px;
  --gap: 20px;
  --radius: 6px;

  --tabbar-height: 50px;
}
