.Tabbar {
  display: flex;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: var(--tabbar-height);
  align-items: center;
  background-color: #fff;
  border-top: 1px solid var(--border-color-default);
}
